<nav class="">
    <ul>
        <li> <%= link_to "Store Home", store_path %> </li>
        <% if !!@cart %>
          <li> <%= link_to "Cart", cart_path(current_cart) %></li>
        <% end %>

        <% if user_signed_in? %>
          <li> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> </li>
        <% else %>
          <li> <%= link_to "Sign Up", new_user_registration_path %></li>
          <li> <%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
    </ul>
</nav>
